In [4]:
! pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: wget
  Building wheel for wget (pyproject.toml) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9685 sha256=f642243a03e8f7834e6ef8305760dd6ab598595a9a0902433e7795e3d0369c6c
  Stored in directory: /home/codespace/.cache/pip/wheels/01/46/3b/e29ffbe4ebe614ff224bad40fc6a5773a67a163251585a13a9
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [5]:
import pandas as pd
import wget
import numpy as np

In [6]:
# Q1
pd.__version__

'2.3.1'

In [7]:
name_of_the_file=wget.download("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [8]:
df= pd.read_csv(name_of_the_file)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
# Q2. size of the dataset
len(df)

9704

In [10]:
# Q3. Fuel types 
nombre_of_fuel_types=df['fuel_type'].nunique()
print(f'There are {nombre_of_fuel_types} fuel types in the dataset')

There are 2 fuel types in the dataset

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [12]:
# Q4. Calcul de missing values per column
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [13]:
# Q5. Max fiel efficiency from Asia
max_fuel_efficiency_asia=df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2)
print(f'The max fuel efficiency from Asia is {max_fuel_efficiency_asia} mpg')

The max fuel efficiency from Asia is 23.76 mpg

In [14]:
# Q6. Median value of horsepower
median_horsepower=df['horsepower'].median()
print(f'The median value of horsepower is {median_horsepower}')
# Mode calculation
mode_horsepower=df['horsepower'].mode().values[0]
print(f'The mode value of horsepower is {mode_horsepower}')
# Fill missing values with the mode
df['horsepower']=df['horsepower'].fillna(mode_horsepower)
# the new median value 
print('The new median value of horsepower is', df['horsepower'].median())

The median value of horsepower is 149.0
The mode value of horsepower is 152.0
The new median value of horsepower is 152.0